/Bagages/Serveur_Bagages/nbproject/private/
/Bagages/Application_Bagages/nbproject/private/
/Bagages/Application_Bagages/dist/
/Bagages/Application_Bagages/build/
/Bagages/Gestion_Bagages/nbproject/private/
/Bagages/Bagages/nbproject/private/
/Bagages/ClientServeurBagages/nbproject/private/
/Bagages/RequeteReponseMultiThread/nbproject/private/
/Bagages/RequeteReponseLUGAP/nbproject/private/
/Bagages/ClientMultiThread/nbproject/private/
/Bagages/ServeurMultiThread/nbproject/private/
/Bagages/ServeurPoolThreads/nbproject/private/
/Bagages/ServeurPoolThreads/dist/